

.fixed-sidenav{
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 55px;
   /* margin-top: 55px;*/
    left: 0px;
    padding: 30px 20px 20px 20px;
    background-color: rgba(80, 78, 78, 0.127);
}

.fixed-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .fixed-sidenav a:hover {
    color: #2342f1;
  }

.content-area{
    margin-top: 55px;
    
    min-height: 100vh;
    margin-left: 15%;
    background-color: white;
}

.content-area .table tr{
 
padding-top: 0 !important; 
padding-bottom: 0 !important;
height: 20px !important;
line-height: 20px;
/*background-color: red;*/
}

.content-area .table td{
 
    margin-bottom: 0 !important;
    margin-top: 0 !important; 
    height: 10px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-success{
  height: 20px !important;
  justify-content: center !important;
}
.btn{
  height: 20px !important;
  justify-content: center !important;
}
.sq{
  position: relative;
  padding-top: 70%;
}
.sq .sq-cont{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 20%;
}
.rect{
  position: relative;
  padding-top: 30%;
}
.rect .rect-cont{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}
.number{
  font-size: 40pt;
  font-weight: 600;
  color: rgba(58, 57, 57, 0.452);
}