.my-container{
    width: 100%;
    margin: 0 !important;
    padding: 10px 10px 10px 80px !important;
   
}

.row{
    width: 100%;
    box-sizing: border-box;
    margin: 0 !important;
}
.main-dash{
    float: left;
    box-sizing: border-box;
    width: 75%;
    margin: 0;
   /* background-color: limegreen; */
}

.guide-float-right{
    float: right;
    box-sizing: border-box;
    width: 25%;
    margin: 0;
    background-color: inherit;
    padding: 10px;
    padding-left: 20px !important;
    position: fixed;
    right: 0;
    max-height: 90vh;
    
}

.main-dash .breadcrumbs{
    background-color: rgba(169, 169, 169, 0.4);
    padding-left: 10px;
}

.main-dash .title{
    border-bottom: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    
}

.main-dash .title h6{
    margin-bottom: 0;
}

.main-dash .details .table tr{
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
    height: 20px !important;
    line-height: 20px;
}

.main-dash .details .table td{
    margin-bottom: 0 !important;
    margin-top: 0 !important; 
    height: 10px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.guide-float-right .title h6{
    border-bottom: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    
}

.file-tab{
    background-color: rgb(255,255,255);
    border: rgba(100, 98, 98, 0.753) solid 1px;
    border-radius: 5px;
    margin: 5px auto;
    max-width: 500px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;
}
span.upload-btn{
    display: inline-block;
    background-image: linear-gradient(to left, rgb(255, 200, 150), rgb(200, 150, 60));
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    cursor: pointer;
    line-height: 40px;
    
}
span.file-name{
    border-bottom: 2px solid grey;
}

a.doc, a.docx, a.word, a.pdf, a.png, a.jpeg, a.jpg, a.txt, a.svg{
    display: flex;
}
a.doc::before, a.docx::before, a.word::before{
content: "";
background-image: url(/images/icons/wordicon.png);
display: inline-block;
background-size: 20px 20px;
width: 20px;
height: 20px;
}
a.jpg::before, a.jpeg::before, a.png::before, a.svg{
    content: "";
    background-image: url(/images/icons/photoicon.png);
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    }
a.pdf::before{
    content: "";
    background-image: url(/images/icons/pdficon.png);
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    }


    /*Messages stuff*/
.chat-log{
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
    position: relative;
    background-image: url(/images/backgroundimages/chatbackground.jpg);
}
.chat-view{
    height: calc(100% - 60px);
}
.message-composer{
    position: absolute;
    bottom: 20px;   
    height: 50px;
}