.cons-navbar{
    position: fixed;
    min-width: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,1);
    
}

.side-nav{
    margin-top: 66px;
    background-color: aqua;
    float: left;
    width: 10%;
    min-height: calc(100vh - 66px);
    max-height: calc(100vh - 66px);
    position: fixed;
    padding: 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.side-nav .user{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 150px;
}
.tab {
    border-bottom: grey 1px solid;
    cursor: pointer;
}

.tab-link-group{
    /*display: none;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.main{
    margin-top: 66px;
    float: right;
    width: 90%;
    min-height: calc(100vh - 66px);
}

.main-home{
    height: calc(100vh - 66px);
}
.dash-home{
    background-image: linear-gradient(180deg, rgba(3,0,0,1) 0%, rgba(250,247,246,1) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 0%, rgba(14,14,13,1) 100%, rgba(4,4,4,1) 100%),url('/images/portal/naturePic.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.curve{
    min-height: 300px;
    min-width: 100vw;
    border-radius: 0 0 60% 60%;
   /* background-color: rgba(255, 100, 255, 0.3); */
}
.greetings{
   /* background-color: yellow; **/
    display: inline-block;
    position: relative;
    left: 65%;
    max-width: 30%;
    overflow: hidden !important;
    margin-bottom: 20px;
    margin: 100px;
  
    
}
.greetings p {
    font-family: "Montserrat","Roboto";
    color: white;
    font-size: 30px;
    font-stretch: condensed;
    font-weight: 700;
}
.insight{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 45%);
    min-height: 400px;
    display: flex;
    justify-content:  center;
    padding: 20px 30px;
    margin-top: 100px;

}

.insight-item{
    min-height: 350px;
    margin: 0px 20px 0px 20px;
    min-width: 40%;
}
.random{
    min-height: 200px;
    min-width: 100%;
    background-color: rgba(255,255,255,1);
}

.main .main-panel{
    min-height: calc(100vh - 66px) !important;
    background-color: yellow;
    width: 70%;
    float: left;
    text-align: center;
}
.main .right-panel{
    height: calc(100vh - 66px) !important;
   
    float: right;
    width: 30%;
    background-color: yellowgreen;
}

.main .right-panel .right-pane-top, .main .right-panel .right-pane-bottom{
    min-height: calc(100vh/2 - 33px);
    height: 50%;
    background-color: tomato;

}
.main-panel-table{
    margin: auto;
    width: 80%;
}
.main table th,.main table td{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.main table .btn{
    padding: 0.4rem 0.44rem !important;
}
.sq{
    position: relative;
    padding-top: 70%;
}
.sq .sq-cont{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 20%;
}
.rect{
    position: relative;
    padding-top: 30%;
}
.rect .rect-cont{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}
.number{
    font-size: 40pt;
    font-weight: 600;
    color: rgba(58, 57, 57, 0.452);
}