
.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.side-nav{
    float: left;
    width: 10%;
    min-height: calc(100vh - 66px);
    padding: 10px;
    background-color: rgb(0, 0, 26);
    color: white;
    position: fixed;
}
.side-nav a {
    text-decoration: none !important;
    color: white;
}
.side-nav a:hover {
    color:#ff751a;
}

.sections{
    margin-top: 200px;
}
.section-link{
    background-color: yellowgreen;
    margin-bottom: 2px;
    
}
.section-link:hover a, .section-link:hover .far{
    color:#ff751a;
}
.far{
    transition: all 0.2s ease;
}
.main{
    float: right;
    width: 90%;
    min-height: calc(100vh - 66px);
    padding-top: 50px;
    background-color: rgba(255, 145, 0, 0.163);
}
.guide p{
    font-weight: 500 !important;
    font-size: 25px !important;
    
}
.guide p{
    background:linear-gradient(75deg, rgba(210,69,8,0.9864145487296481) 0%, rgba(219,9,112,0.9275910193178833) 25%, rgba(231,11,145,1) 50%, rgba(184,5,249,0.9275910193178833) 75%, rgba(241,12,12,0.8491596467688638) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main p{
    text-align: center;
    font-weight: 300;
    font-size: 16px;
   
}
.main .intro{
    margin-top: 50px;
}
.main .theme{
    text-align: center;
}
.theme label{
    margin: 10px 20px;
}
.theme #box-dark{
    background-image: url('/images/themes/portfolio dark theme.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.theme #box-light{
    background-image: url('/images/themes/portfolio light theme.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.theme #box-vibrant{
    background-image: url('/images/themes/portfolio vibrant theme.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.theme input[type='radio']{
    display: none;
}
.theme .box-preview{
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 1px white solid;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    will-change: transition;
    position: relative;
   
    
}
.theme input[type='radio']:checked + .box-preview{
    border: green !important;
    box-shadow: 0px 10px 20px 0px green;
}
.svg-wave .divsep{
    position: relative;
    bottom: -130px;
}
.intro{
    text-align: center;
    padding-bottom: 50px;
    background-image: url('/images/backgroundImages/abstract-colorful-flow-shapes.jpg');
    /*background: rgb(255,145,0);*/
    background-image: linear-gradient(180deg, rgba(255,145,0,0.12) 0%,#f9e9d3 100%),  url('/images/backgroundImages/abstract-colorful-flow-shapes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 80px;

}
.intro-greetings{
    display: flex;
    flex-wrap: nowrap;
    
}
.intro-greetings .greetings-text , .intro-greetings .greetings-portrait{
    width: 50%;
    
}
.greetings-portrait .inp-portrait-image{
    width: 10.1px;
	height: 010.1px;
	opacity: 50;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#port-view{
    height: 100%;
    background-image: url('');
   
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    min-height: 300px;
    background-color: teal;
    text-align: right;
    position: relative;
}
#port-view .img-sizing{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 2px;
}
#port-view .img-sizing span{
   
    color: black;
   
}
#port-view .img-sizing .btn{
    
    background-color: whitesmoke;
    max-height: 30px;
    padding: 5px 20px 20px 20px;
    transition: all 0.2s ease-out;
    
}
#port-view .img-sizing .btn:active{
    background-color: grey;
}
#portrait-pic {
    width: 200px;
    height: 150px;
    position:relative; /* or fixed or absolute */
}
.greetings-portrait .inp-portrait-image + label{
    background-color: black;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;

}
.inp-portrait-image:focus + label, .inp-portrait-image +label:hover{
    background-color: blueviolet;
}
.inp-portrait-image:focus + label{
    outline: 2px solid yellowgreen;
    outline: -webkit-focus-ring-color auto 5px;
}
canvas{
    background-color: black;
}
.bio{
    padding: 0 10%;
}
#bio-text{
    resize: none;
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
    padding: 37px 70px 30px 100px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background-image:url("/images/notebookTextarea/lines1.png"), url("/images/notebookTextarea/paper.png");
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	/*-webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;*/
    line-height: 30px;
    border: #f9e9d3;
    
}
 .text{
    border-radius: 8px 8px 0 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #f9e9d3 solid;
    height: 40px;
    min-width: 500px;
    background-image: url("/images/notebookTextarea/paper.png") !important;
    text-align: center;
 }
 #email-message{
     width: 90%;
     border-radius: 8px;
     background-image: url("/images/notebookTextarea/paper.png");
     min-height: 350px;
     padding: 30px;
     border: #f9e9d3;
 }